---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
    <div class="container my-5">
        <h1>Excel Dashboard</h1>
        <p>This Excel dashboard was built using pivot tables and slicers to analyze global video game sales.</p>
    </div>
    <div style="width: 100vw; margin-left: calc(-35vw + 35%); margin-right: -35vw;">
        <iframe width="100%" height="900" frameborder="0" scrolling="no" src="https://1drv.ms/x/c/3bc1eaadea678452/IQS_M6po5H-kQ6XzOdj4BHLHAUF9Fklwsl7rSvabwQDU3IQ?em=2&wdAllowInteractivity=True&Item='dashboard'!A1%3AS52&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True"></iframe>
    </div>
    <div class="container my-5">
        <p>   
            For this dashboard, i'm using raw data from Maven Analytics which called "VG Charts"
            First thing i do is to clean the data, removing duplicates, handling missing values, and ensuring consistency in data types.
            Next, I create pivot tables to summarize sales data by various dimensions such as region, platform, genre, and year of release.
            Finally, I enhance the dashboard with slicers and charts to allow for interactive data exploration.
        </p>
    </div>
</Layout> 